<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DashBoard</title>
  <!---Debajyoti Das-->
  <link rel="stylesheet" href="/static/dash1.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

  <div class="wrapper">
    <input type="checkbox" id="btn" hidden>
    <label for="btn" class="menu-btn">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
    </label>
    <div class="dashboard">
      <!--<input type="checkbox" id="btn" hidden>
      <label for="btn" class="menu-btn">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
      </label>-->
      <h2>Dash Board</h2>
      <ul>
        <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="dash.html"><i class="fas fa-user"></i>User</a></li>
        <li><a href="#"><i class="fas fa-user-shield"></i>Official</a></li>

      </ul>

    </div>
    <div class="form">
      <div class="header">SECURITY SYSTEM</div>
      <div class="info">
        <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sed nobis ut exercitationem atque accusamus sit
          natus officiis totam blanditiis at eum nemo, nulla et quae eius culpa eveniet voluptatibus repellat illum
          tenetur, facilis porro. Quae fuga odio perferendis itaque alias sint, beatae non maiores magnam ad, veniam
          tenetur atque ea exercitationem earum eveniet totam ipsam magni tempora aliquid ullam possimus? Tempora nobis
          facere porro, praesentium magnam provident accusamus temporibus! Repellendus harum veritatis itaque molestias
          repudiandae ea corporis maiores non obcaecati libero, unde ipsum consequuntur aut consectetur culpa magni
          omnis vero odio suscipit vitae dolor quod dignissimos perferendis eos? Consequuntur!</div>

      </div>

      <div class="container">
        <div class="title">Registration</div>
        <div class="content">
          <form action="#">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Full Name</span>
                <input type="text" placeholder="Enter your name" required>
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your username" required>
              </div>
              <div class="input-box">
                <span class="details">Phone No</span>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <span class="details">Aadhar No</span>
                <input type="text" placeholder="Enter your number" required>
              </div>
              <div class="input1-box">
                <span class="details">Grievance</span>
                <input type="text" placeholder="Enter your problem">
              </div>


            </div>
            <div class="gender-details">
              <input type="radio" name="gender" id="dot-1">
              <input type="radio" name="gender" id="dot-2">
              <input type="radio" name="gender" id="dot-3">
              <span class="gender-title">Gender</span>
              <div class="category">
                <label for="dot-1">
                  <span class="dot one"></span>
                  <span class="gender">Male</span>
                </label>
                <label for="dot-2">
                  <span class="dot two"></span>
                  <span class="gender">Female</span>
                </label>
                <label for="dot-3">
                  <span class="dot three"></span>
                  <span class="gender">Other</span>
                </label>
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
      <div class="clr"></div>
      <div style="margin-bottom:  700px"></div>
    </div>
  </div>
</body>

</html>